
#main{
	width: 754px;
	/*height: 880px;*/
	padding-bottom: 18px;
	padding-right: 28px;
	padding-left: 28px;
	background-color: black;
}
#imm{
	width: 754px;
	height: 400px;
	margin-top: 20px;
	
}
#heading{
	    font-family: initial;
	font-size: 17px;
	margin-left: 35px;
	height: 55px;
	background-color: black;
	color: #af0f3f;
	text-align: center;

}
.acc
{
	
	background-color: #f91756 !important;
	color: white ;
	padding-left: 15px;
	font-weight: bold;
	height: 15px;
}
li
{
	line-height: 40px;
	font-family: cursive;
	font-size: 20px;
	color: #222;
	margin: 0px;
}
#bb
{
	width: 80px;
	height: 27px;
	margin-left: 320px;
	/*background-image: url("/home/arun/Desktop/Gouresh/img/button.jpg");
*/}
.accordion_in
{
	background-color: black !important;
}
.accordion_example1
{
	background-color: #f3d4f3 !important;
}


#abc{

    margin-top: -40px;
    margin-left: 650px
}
#fn,#sc
{
	font-size: 15px;
}
a
{
	color:white;
	text-decoration: none;

}
button
{
	width: 53px;
	height: 20px;
	margin-left: 12px;
	/*background-image: url("/home/arun/Desktop/Gouresh/img/browse.jpg");
*/}
