
table{

}


td{
 
 font-size: 20px;
 padding-left: 10px;
 font-family:sans-serif;

}
#first,#sec,#third
{
 height: 19px;
}
#four
{
	width:110px;
	 height: 19px;
}

#upload{
background-color:#f3d4f3;
margin-right: 28px; }
}

#textt {
	border-radius:15px 50px 30px 5px

}