#main{

	width: 500px;
	height: 500px;
	background-color: gray;
}
.head{
	width: 500px;
	height: 200px;
	background-image: url("file:///home/cmss/Desktop/nature.jpg");
}
#contentt{
	width: 500px;
	height: 200px;
	background-color: #a1f3f3;
}
#menu{
	width: 500px;
	height: 30px;
	background-color: #ce3e3e;
	float: left;
	margin-left: 20px;
}
a{
	padding: 20px;
	margin-top: 70px;
	
}
